<%= form_for(@course_admin) do |f| %>
  <ul>
    <% @course_admin.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :course_name %><br />
    <%= f.text_field :course_name %>
  </p>
  <p>
    <%= f.label :course_number %><br />
    <%= f.text_field :course_number %>
  </p>
<br />
  <p>
    <%= f.label :course_description %><br />
    <%= f.text_area :course_description %>
  </p>
  <p>
    <%= f.label :credits %><br />
    <%= f.text_field :credits %>
  </p>
<br />
  <p>
    <%= f.label :pre_req %><br />
    <%= f.text_field :pre_req %>
  </p>
  <p>
    <%= f.label :co_req %><br />
    <%= f.text_field :co_req %>
  </p>
<br />
  <p>
    <%= f.label :sugg_year %><br />
    <%= f.text_field :sugg_year %>
  </p>
  <p>
    <%= f.label :sugg_term %><br />
    <%= f.text_field :sugg_term %>
  </p>
<br />
  <p>
    <%= f.label :next_off_year %><br />
    <%= f.text_field :next_off_year %>
  </p>
  <p>
    <%= f.label :next_off_term %><br />
    <%= f.text_field :next_off_term %>
  </p>
<br />
  <p>
    <%= f.label :generally_off %><br />
    <%= f.text_field :generally_off %>
  </p>
  <p>
    <%= f.label :major %><br />
    <%= f.text_field :major %>
  </p>
  <p>
    <%= f.label :minor %><br />
    <%= f.text_field :minor %>
  </p>
<br />
  <p>
    <%= f.submit %>
  </p>
<% end %>